<navbar></navbar>

<div class="container">
    <div class="my-advertisements-contaier">

        <div class="sidebar">
            <h1 class="sidebar-title">Status</h1>

            <div class="sidebar-nav">
                <div class="sidebar-nav-item" (click)="selectedSidebarMenu = 'Released'">
                    <div [ngClass]="{'color-released': selectedSidebarMenu === 'Released'}" class="dot"></div>
                    Released
                </div>
                <div class="sidebar-nav-item" (click)="selectedSidebarMenu = 'Created'">
                    <div [ngClass]="{'color-created': selectedSidebarMenu === 'Created'}" class="dot"></div>
                    Created
                </div>
                <div class="sidebar-nav-item" (click)="selectedSidebarMenu = 'InQueueToCheck'">
                    <div [ngClass]="{'color-in-queue-to-check': selectedSidebarMenu === 'InQueueToCheck'}" class="dot"></div>
                    In queue to check
                </div>
                <div class="sidebar-nav-item" (click)="selectedSidebarMenu = 'CheckSuccessful'">
                    <div [ngClass]="{'color-check-successful': selectedSidebarMenu ==='CheckSuccessful'}" class="dot"></div>
                    Check successful
                </div>
                <div class="sidebar-nav-item" (click)="selectedSidebarMenu = 'CheckNotSuccessful'">
                    <div [ngClass]="{'color-check-not-successful': selectedSidebarMenu === 'CheckNotSuccessful'}" class="dot"></div>
                    Check not successful
                </div>
                <div class="sidebar-nav-item" (click)="selectedSidebarMenu = 'ReleasePlanned'">
                    <div [ngClass]="{'color-released-planned': selectedSidebarMenu === 'ReleasePlanned'}" class="dot"></div>
                    Planned to release
                </div>
            </div>
        </div>
        
        <div class="cards">
            <div [ngSwitch]="selectedSidebarMenu">
                <div *ngFor="let advertisement of advertisementsByUserId;" class="card">
                    <div *ngSwitchCase="advertisement.status">
                        <div
                            [ngClass]="{
                                'created': advertisement.status == 'Created', 
                                'in-queue-to-check': advertisement.status === 'InQueueToCheck',
                                'check-successful': advertisement.status === 'CheckSuccessful',
                                'check-not-successful': advertisement.status === 'CheckNotSuccessful',
                                'released-planned': advertisement.status === 'ReleasePlanned',
                                'released': advertisement.status == 'Released'
                            }" 
                            class="card-header">
                            {{advertisement.title}}
                        </div>
                        <div class="card-body">
                            <p class="card-text"><span>Subtitle: </span> {{advertisement.subTitle}}</p>
                            <p class="card-text"><span>Description: </span> {{advertisement.description}}</p>
                            <p class="card-text"><span>Link: </span><a [href]="advertisement.linkToBrowserPage">Link to browser page</a></p>
                            <p class="card-text"><span>Release Date: </span> {{advertisement.releaseDate}}</p>
                            <p class="card-text"><span>Status:</span> {{advertisement.status}}</p>
                            <p class="card-text"><span>Photo url: </span> <a [href]="advertisement.photoUrl">Link to image</a></p>
                            <p *ngIf="advertisement.comment != null" class="card-text"><span>Comment: </span>{{advertisement.comment}}</p>
                            <div class="card-buttons">
                                <button class="card-button update">Update</button>
                                <button class="card-button delete">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngSwitchDefault>
                    <h1 class="default-title">There are no items with this status</h1>
                </div>
            </div>
        </div>
    </div>
</div>