/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

body {
    overflow-x: hidden;
}

h1, p, ul {
    margin-bottom: 0;
}
html, body { height: 100%; }

@import '~bootstrap/scss/bootstrap';