$color-white: #FFFFFF;
$color-dark: #1A1A1D;
$color-dark-vine: #6F2232;
$color-light-vine: #C3073F;

.modal-header {

    .modal-title {
        font-family: 'Hando Soft Trial';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        color: $color-light-vine;
    }
}

.modal-body {

    .subtitle {
        font-family: 'Hando Soft Trial';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        text-align: center;
    }
}