<navbar></navbar>
<h1 class="form-title">Add Advertisement</h1>
<div class="container">
  <form
    class="form"
    #f="ngForm"
    [formGroup]="form"
    (ngSubmit)="addAdvertisement(f.value)"
  >
    <div class="form-group">
      <label for="title" class="group-label">Title</label>
      <input
        id="title"
        type="text"
        formControlName="title"
        class="form-control"
      />

      <div *ngIf="title?.touched && title?.invalid" class="alert alert-danger">
        <div *ngIf="title?.errors?.['required']">Title is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="subtitle" class="group-label">Sub Title</label>
      <input
        id="subtitle"
        type="text"
        formControlName="subtitle"
        class="form-control"
      />

      <div
        *ngIf="subtitle?.touched && subtitle?.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="subtitle?.errors?.['required']">SubTitle is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="group-label">Description</label>
      <input
        id="description"
        type="text"
        formControlName="description"
        class="form-control"
      />

      <div
        *ngIf="description?.touched && description?.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="description?.errors?.['required']">
          Description is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="linkToBrowserPage" class="group-label"
        >Link to browser page</label
      >
      <input
        id="linkToBrowserPage"
        type="text"
        formControlName="linkToBrowserPage"
        class="form-control"
      />

      <div
        *ngIf="linkToBrowserPage?.touched && linkToBrowserPage?.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="linkToBrowserPage?.errors?.['required']">
          Link is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="image" class="group-label"
        >Image (Will be compressed to 600x300px)</label
      >
      <div class="file-input-container">
        <input
          id="image"
          type="file"
          class="upload-image-input form-control"
          (change)="onChange($event)"
          accept=".png,.jpg"
        />

        <button
          [disabled]="imageUrl != null"
          class="form-btn btn btn-success upload-image-btn"
          (click)="onUploadClick()"
        >
          Upload
        </button>
      </div>
      <p class="progress-bar">
        <ngb-progressbar
          [showValue]="true"
          type="success"
          [value]="progressPercent"
        ></ngb-progressbar>
      </p>
    </div>

    <div class="btn-offer-group">
      <button
        [disabled]="progressPercent < 100"
        class="form-btn btn btn-primary"
        type="submit"
      >
        Add advertisement
      </button>
    </div>
  </form>
</div>
