$color-white: #FFFFFF;
$color-dark: #1A1A1D;
$color-dark-vine: #6F2232;
$color-light-vine: #C3073F;

.container {

    .admin-panel-title-container {
        display: flex;
        justify-content: center;

        .admin-panel-title {
            display: inline-block;
            padding: 30px 50px 5px 50px;
            margin-bottom: 10px;
            margin-top: 10px;
            border-bottom: 3px solid $color-light-vine;

            font-family: 'Hando Soft Trial';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;

            color: $color-dark;
        }
    }

    .admin-panel-container {
        display: flex;

        margin-top: 30px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

        .admin-panel-sidebar {
            flex: 0.2;
        }

        .admin-panel-content {
            flex: 0.8; 
        }
    }
}